<div class="input-group mb-2">
    <span class="form-control p-0">
        <span class="fs-50 lh-1 bg-white" style="position: absolute; padding: 0 0.70rem; margin-top: -0.6em;">{{ label }}</span>
        <label for="{{ selector }}" class="visually-hidden">{{ label }}</label>
        <input class="form-control border-0 field-date-timezone-offset" id="field-{{ selector }}" data-for="{{ selector }}" type="datetime-local" value="" lang="en" max="2200-12-30T00:00"/>
        <input class="field-date-utc" id="field-{{ selector }}" name="{{ selector }}" type="hidden" value="{{ value }}" placeholder="{{ placeholder }}"/>
    </span>

    <span class="form-control p-0">
        <span class="fs-50 lh-1 bg-white" style="position: absolute; padding: 0 0.70rem; margin-top: -0.6em;">{{ label2 }}</span>
        <label for="field-{{ label2 }}" class="visually-hidden">{{ label2 }}</label>
        <input class="form-control border-0 field-date-timezone-offset" id="field-{{ label2 }}" data-for="{{ selector2 }}" type="datetime-local" value="" lang="en" max="2200-12-30T00:00"/>
        <input class="field-date-utc" id="field-{{ label2 }}" name="{{ selector2 }}" type="hidden" value="{{ value2 }}" placeholder="{{ placeholder2 }}"/>
    </span>
</div>