<div class="input-group mb-2">
  <textarea class="form-control form-control-plaintext {{ class_name }}" type="text" name="{{ selector }}" id="field-{{ selector }}" placeholder="{{ placeholder | default: label }}" rows="{{ rows | default : 4 }}">{{ value }}</textarea>
</div>