{% assign current_url = '/admin/contents/list/' | append: page_type %}
<div class="container">
    <header>
        <h1 class="admin-title">{{ page_type | capitalize }} {{ type.tableName | capitalize }}</h1>

        <div class="admin-toolset">
            <a class="label-icon toolset-add" href="/admin/contents/create/{{ page_type }}">Create {{ page_type}}</a>
        </div>
    </header>

    {% render "pagination", maxPage: maxPage, current_url: current_url,  page: page %}
    <form action="/admin/pages" method="post">
        <input type="hidden" name="destination" value="/admin/contents/list/{{ page_type }}">
        <table id="table" class="table table-hover draggable-table">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th class="text-center">Ordering</th>
                <th class="text-center">Published</th>
                <th class="text-center">Live&nbsp;Ordering</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><input type="checkbox" name="chk{{item.id}}" /></td>
                    <td>{{ forloop.index }}</td>
                    <td>{{ item.id }}</td>
                    <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
                    <td class="text-center" style="width:3em" >
                        <input class="form-control py-0 text-center bg-dark text-white" type="text" name="({{ item.id }}):weight" value="{{ item.weight }}"/>
                    </td>
                    <td class="text-center">{% if item.published %}{% if item.synced %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-sync"></i>{% endif %}{% endif %}</td>
                    <td class="text-center" style="width:3em" >{{ item.live_weight | default: '-'}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end my-3">
            <button type="submit" class="btn btn-secondary text-white">Save Priority</button>
            <button type="submit" name="action" value="publish_weights" class="btn btn-primary text-white">Publish Priority</button>
        </div>

    </form>
    {% render "pagination", maxPage: maxPage, current_url: current_url,  page: page %}
</div>