{% capture model_attribute %}PageBlock({{ block._.id }})>PageBlockAttribute{% endcapture %}
{% capture model_value %}PageBlock({{ block._.id }})>PageBlockValue{% endcapture %}

{% render 'pagefield/text/basic', label: "Subject", value: block.values.subject, model_name : model_value, class_name: "thin-line" %}
{% render 'pagefield/text/basic', label: "Body", value: block.values.body, model_name : model_value, class_name: "thin-line" %}

<div>
    <h5>List Items <button name="destination" value="/admin/pages/add-block-item/{{ block._.id }}/list_items" type="submit" class="btn btn-link"><i class="fas fa-plus-circle"></i></button></h5>
</div>
<div class="row">
{% for item in block.items.list_items %}
    {% capture block_name %}PageBlock({{ block._.id }})>PageBlockItem({{ item._.id }}){% endcapture %}
    <div class="d-flex flex-row col-6" style="border: 1px dashed #DDD; border-radius: 0.5em; padding: 0.25em 0.5em;">
        <div class="me-2">
            <h5>
                <input class="form-control text-center condense-3" name=">{{ block_name }}:weight" value="{{ item._.weight }}" pattern="[0-9.]+"/>
            </h5>
        </div>
        <div class="me-2 w-100">
            {% capture model_name %}{{ block_name }}>PageBlockItemValue{% endcapture %}
            {% render 'pagefield/text/basic', preview: false, label: "Subject", value: item.values.subject, model_name: model_name %}
            {% render 'pagefield/textarea/basic', preview: false, label: "Body", value: item.values.body, model_name: model_name %}
        </div>

        <div>
            {% if forloop.first != true %}
                <button name="destination" value="/admin/pages/delete-block-item/{{ item._.id }}" type="submit" class="btn btn-link"><i class="fal fa-times-circle"></i></button>
            {% else %}
                <span class="btn btn-link"><i class="fal fa-minus-circle"></i></span>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>