{% capture selector %}#{{ block_index }}.label{% endcapture %}{% render 'pagefield/text/basic', label: "Label", selector:selector, value: tokens.label %}
<!-- items -->
<div>
    {% assign item_name = 'pictures' %}
    {% assign item_label = 'Pictures' %}
    <div class="row mb-3 align-items-center"><div class="col-8"><h5><i class="far fa-copy me-2"></i>{{ item_label }}</h5></div><div class="col-4 text-end"></div></div>

    {% for pageItem in tokens[item_name] %}
        {% capture prefix %}#{{ block_index }}.{{ item_name }}[{{ forloop.index0 }}]{% endcapture %}
        <div class="d-flex flex-row mb-3">
            {% render "page/edit/item/weight", prefix: prefix, weight: pageItem._weight %}
            <div class="me-2 w-100">
                {% capture selector %}{{ prefix }}@url{% endcapture %}{% render 'pagefield/picture/basic', label: "URL", value: pageItem.url, selector: selector %}
            </div>
            {% render "page/edit/block/item-add-button", index: forloop.index0, page_id:item.id, item_name: item_name, block_index:block_index %}
        </div>
    {% endfor %}
</div>
<!-- end items -->