{% if maxPage > 0 %}
    {% assign url = current_url | default : "/admin/results" %}
    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item{% if page == 1 %} disabled{% endif %}"><a class="page-link" href="{{ url }}?page=1"><i class="far fa-chevron-double-left"></i></a></li>
            <li class="page-item{% if page == 1 %} disabled{% endif %}"><a class="page-link" href="{{ url }}?page={{ page | minus : 1 }}">Prev</a></li>

            {% assign rangeMin = page |  minus : 5 %}
            {% assign rangeMax = page | plus : 3 %}

            {% if rangeMin < 0 %}
                {% assign rangeMax = 8 %}
            {% endif %}

            {% if rangeMax >= maxPage %}
                {% assign rangeMin = maxPage | minus: 9 %}
                {% assign rangeMax = maxPage | minus: 1 %}
            {% endif %}

            {% if rangeMin < 0 %}
                {% assign rangeMin = 0 %}
            {% endif %}

            {% for i in (rangeMin..rangeMax) %}
                {% assign pageIndex = page | minus : 1 %}
                <li class="page-item{% if i == pageIndex %} active{% endif %}"><a class="page-link" href="{{url}}?page={{ i |  plus : 1 }}">{{ i |  plus : 1}}</a></li>
            {% endfor %}
            <li class="page-item{% if pageIndex == rangeMax %} disabled{% endif %}"><a class="page-link disabled" href="{{ url }}?page={{ page | plus : 1 }}">Next</a></li>
            <li class="page-item{% if pageIndex == rangeMax %} disabled{% endif %}"><a class="page-link" href="{{ url }}?page={{ maxPage }}"><i class="far fa-chevron-double-right"></i></a></li>
        </ul>
    </nav>
{% endif %}