<div class="container">
    <header>
        <h1 class="admin-title">Lead - {{ item.name }} {{ item.last_name }}</h1>
        <div class="badge bg-secondary">{{ item.id }}</div>
        <div class="badge bg-secondary">{{ item.created_at  | to_time | date: "%Y-%m-%d %H:%M:%S" }}</div>
        <div class="badge bg-secondary">{{ item.language }}</div>
    </header>

    <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">Personal Information</h5>
            <div class="row mb-1 g-1">
                <div class="col-4 col-sm-3" style="min-width:135px;">
                    <label for="inputSalutation" class="visually-hidden">Salutation</label>
                    <input name=":salutation" type="text" value="{{ item.salutation }}" class="form-control" id="inputSalutation" readonly/>
                </div>

                <div class="col-8 col-sm-5" style="max-width:calc(100% - 135px);">
                    <label for="inputFirstName" class="visually-hidden">First Name</label>
                    <input name=":name" type="text" class="form-control" id="inputFirstName" placeholder="First Name*" value="{{ item.name }}" readonly>

                </div>

                <div class="col-12 col-sm-4">
                    <label for="inputLastName" class="visually-hidden">Last Name</label>
                    <input name=":last_name" type="text" class="form-control" id="inputLastName" placeholder="Last Name*" value="{{ item.last_name }}" readonly>

                </div>
            </div>
        </div>

        <div class="mb-3">
            <h5 class="card-title">Contact Information</h5>

            <div class="row mb-1 g-1">
                <div class="col-12 col-sm-5">
                    <label for="inputEmail" class="visually-hidden">Email</label>
                    <input name=":contact" type="email" class="form-control" id="inputEmail" placeholder="Email*" value="{{ item.contact }}" readonly>
                </div>
            </div>

            <p class="card-text">* required</p>
            <div class="row mb-1 g-1">
                <div class="col-12">
                    <div class="form-check">
                        <input name=":consent" class="form-check-input" type="checkbox" value="yes" id="checkPrivacy" {% if item.consent == "yes" %}checked{% endif %} readonly onclick="return false;">
                        <label class="form-check-label">
                            I have read and agree to <a href="#" data-bs-toggle="modal" data-bs-target="#modal_terms">terms and conditions</a>.
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mb-5">
        <a href="/admin/" class="btn btn-primary">Back to Home</a>
    </div>
</div>