<div class="input-group mb-2">
    <span class="input-group-text input-group-icon"><i class="far fa-pen"></i></span>
    <label for="{{ selector }}" class="visually-hidden">{{ label }}</label>
    <select class="form-select ref-pages" name="{{ selector }}" data-value="{{ value }}" id="field-{{ selector }}">
        <option>Please Select</option>
    </select>
</div>