<div class="input-group mb-2">
    <span class="input-group-text input-group-icon"><i class="fas fa-sticky-note"></i></span>
    <label for="{{ selector }}" class="visually-hidden">{{ label }}</label>
    <select class="form-select ref-page-items" name="{{ selector }}" data-value="{{ value }}" data-pagetype="{{ pagetype }}" data-item="{{ item }}" id="field-{{ selector }}">
        <option>{{ label }}</option>
    </select>
</div>