<div class="input-group mb-2">
    <span class="input-group-text input-group-icon"><i class="far fa-link"></i></span>
    <input class="form-control" type="text" name="{{ selector }}__label" value="{{ value.label }}" id="field-{{ label }}-label" placeholder="{{ placeholder.label | default: label }}"/>
    <input class="form-control" type="text" name="{{ selector }}__url" value="{{ value.url }}" id="field-{{ label }}-url" placeholder="{{ placeholder.url | default: "https://example.com" }}"/>
</div>