<main class="container">
  <header>
    <h1>{{title}}</h1>
    <div>{{message}}</div>
  </header>

  <footer>
    <a class="btn btn-link" href="{{cancelURL}}">Cancel</a>
    <a class="btn btn-danger" href="{{confirmURL}}">{{label}}</a>
  </footer>
</main>
