<div class="container">
  <header>
    <h1 class="admin-title">{{ type.tableName | capitalize }}</h1>

    <div class="admin-toolset">
      <a class="label-icon toolset-add" href="/admin/{{type.tableName}}/new">Create {{type.name}}</a>
    </div>
  </header>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Last Update</th>
      </tr>
    </thead>
    {% for item in items %}
      <tr>
        <td><input type="checkbox" name="chk{{item.id}}" /></td>
        <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.id}}</a></td>
        <td><a href="/admin/{{type.tableName}}/{{item.id}}">{{item.name}}</a></td>
        <td>{{item.updated_at | to_time | date: "%Y-%m-%d %H:%M:%S" }}</td>
      </tr>
    {% endfor %}
  </table>
</div>