{% assign cacheId = 1 %}
<!doctype html>
<html lang="{{ language | default: 'en'}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LionRockJS</title>

    {% for css in stylesheets %}    <link rel="stylesheet" href="/media/css/{{ css }}?r={{ cacheId }}"  media="print" onload="this.media='all'"/>
    {% endfor %}

    {% for script in external_scripts %}    <script type="application/javascript" src="{{ script }}" async ></script>
    {% endfor %}

    {% for script in defer_scripts %}    <script type="application/javascript" src="/media/js/{{ script }}?r={{ cacheId }}" defer></script>
    {% endfor %}

</head>
<body class="{{ controller }} {{ controller }}-{{ action }}">
<header></header>
<main>
    {{ main }}
</main>
<footer></footer>

</body>
</html>
