<div class="mb-2">
  <label for="{{ selector }}" class="visually-hidden">{{ label }}</label>
  <input class="form-control form-control-plaintext {{ class_name }}" type="text" name="{{ selector }}" value="{{ value }}" id="field-{{ selector }}" placeholder="{{ placeholder | default: label }}"/>
</div>